@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;

}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #111;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: cyan;
    transition: all 0.3s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;  
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: cyan;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
/* menu btn styling */
.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
    
}
/* home section styling */
.home{
    display: flex;
    background: #111;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
    
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: cyan;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: none;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid cyan;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #111;
    background: #fff;
}
.home .home-content a{
    font-size: 23px;
    padding: 10px 30px;
}


/* media query */  
@media (max-width: 1300px){

    .home .max-width{
        margin-left: 0px;
    }
}
   

@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
        
    }
    

}
@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }

} 
@media (max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width{
        max-width: 800px;
        
    }
    .about .about-content .column{
        width: 50%;
    }
    
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;

    }
    .about .about-content .right{
        flex: 100%;
        
    }
    .skills .skills-content .column{
        width: 100%;
    }
}
@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%
              
    }
    
      
} 

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
                 
    
} 

@media (max-width: 275px){
   
    .services .container .card{
        font-size: small;
    }
    
}

@media (max-width: 228px){
   
    .services .container .card{
        font-size: small;
    }
}

/* similar styling code */

.about, .services, .projects{
    font-family: 'Ubuntu', sans-serif;
}
section{
    padding: 100px 0;
    }
section .title{
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    
}


/* About section styling */
        
    .about .about-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .about .about-content .left{
        width: 45%;

    }
    .about .about-content .left img{
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 6px;
    }

    .about .about-content .right{
        width: 55%;

    }

    .about .about-content .right .text{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;

    }
    .about .about-content .right .text span{
        color: rgb(123, 154, 196);
    }

    .about .about-content .right p{
        text-align: justify;
    }

    .about .about-content .right a{
        display: inline-block;
        background: black;
        color: #fff;
        font-size: 20px;
        padding: 10px 30px;
        margin-top: 20px;
        border-radius: 6px;
        border: 2px solid black;
        transition: all 0.3s ease;
    }

    .about .about-content .right a:hover{
        color: black;
        background: none;
    }

    
    /* My Services styling */
    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card{
        background: white;
        width: 220px;
        height: 500px;
        margin: 10px;
        border-radius: 5px;
    }
    .card-image{
        background-color: aqua;
        height: 180px;
        border-radius: 10px 10px 0 0
        ;
        background-size: cover;
    }
    .react{
        background: url(images/react.jpg);
    }
    .wordpress{
        background: url(images/moritz-mentges-5MlBMYDsGBY-unsplash.jpg) center;
    }
    .socmed{
        background: url(images/pexels-tracy-le-blanc-607812\ \(1\).jpg);
    }
    .editing{
        background: url(images/sony-vega-257904.jpg);
    }
    .card h2{
        padding: 10px;
        text-align: center;
    }
    .card p{
        padding: 10px;
        text-align: center
    }
    .card a{
        background-color: black;
        color: #fff;
        padding: 15px 20px;
        display: block;
        text-align: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .card:hover{
        background-color: black;
        color: #fff;
        transform: scale(1.02);
        transition: 0.5s;
    }
   